body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    color: #333;
}

/* ENCABEZADO */
header {
    background-color: #0066cc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* CONTENIDO */
main {
    padding: 20px;
}

/* IMAGEN */
img {
    width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* TABLA */
table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: white;
}

table, th, td {
    border: 2px solid #0066cc;
}

th {
    background-color: #cce6ff;
    padding: 10px;
}

td {
    padding: 10px;
}

/* FORMULARIO */
form {
    background: white;
    padding: 20px;
    width: 300px;
    border: 2px solid #0066cc;
    border-radius: 10px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #004a99;
}

/* FOOTER */
footer {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
