{% extends "base.html" %}

{% block content %}

<h2>Acerca de la Clínica Salud Vital</h2>

<p>
La Clínica Salud Vital es una institución dedicada a brindar atención médica
general y especializada con altos estándares de calidad y compromiso humano.
</p>

<p>
El presente sistema web fue desarrollado con el objetivo de facilitar la 
gestión de citas médicas, permitiendo a los pacientes registrar sus turnos
 de manera rápida, segura y eficiente a través de internet. De esta manera 
 se busca mejorar la organización del servicio médico y optimizar la atención 
 brindada por la clínica.
</p>

<p>
Este proyecto fue implementado utilizando el framework Flask y el motor de 
plantillas Jinja2, aplicando el principio de herencia de plantillas para 
estructurar las páginas del sitio web.
</p>

<p>
Además, el sistema permite realizar operaciones básicas de gestión de 
información como registrar, consultar, editar y eliminar pacientes, 
integrando diferentes mecanismos de persistencia de datos como archivos 
TXT, JSON, CSV y bases de datos, incluyendo SQLite y MySQL para el 
almacenamiento de la información.
</p>
{% endblock %}