<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clínica Salud Vital</title>

    <!-- Conectar CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icono.ico.png') }}">
    
</head>

<body>

<header>
    <h1>Clínica Salud Vital</h1>

   <nav>
    <a href="/">Inicio</a> |
    <a href="/about">Acerca de</a> |

    {% if current_user.is_authenticated %}
        <a href="/panel">Panel</a> |
        <a href="/cita">Solicitar Cita</a> |
        <a href="/citas">Ver Citas</a> |
        <a href="/agregar">Agregar Paciente</a> |
        <a href="/pacientes">Ver Pacientes</a> |
        <a href="/datos">Datos</a> |
        <a href="/logout">Cerrar sesión</a>
    {% else %}
        <a href="/login">Iniciar sesión</a> |
        <a href="/registro">Registrarse</a>
    {% endif %}
</nav>
    <hr>
</header>

<!-- AQUÍ SE INSERTAN LAS DEMÁS PÁGINAS -->
<main>
    {% block content %}
    {% endblock %}
</main>

<hr>

<footer>
    <p>© 2026 Clínica Salud Vital - Sistema de Gestión de Citas Médicas</p>
</footer>

</body>
</html>