<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clínica Salud Vital</title>

    <!-- Conectar CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<header>
    <h1>Clínica Salud Vital</h1>

    <nav>
        <a href="/">Inicio</a> |
        <a href="/about"> Acerca de</a> |
        <a href="/cita/Lady"> Solicitar Cita</a> |
        <a href="/agregar"> Agregar Paciente</a> |
        <a href="/pacientes"> Ver Pacientes</a>
    </nav>
    <hr>
</header>

<!-- AQUÍ SE INSERTAN LAS DEMÁS PÁGINAS -->
<main>
    {% block content %}
    {% endblock %}
</main>

<hr>

<footer>
    <p>© 2026 Clínica Salud Vital - Sistema de Gestión de Citas Médicas</p>
</footer>

</body>
</html>