{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center;">Solicitar Cita</h2>

<div class="form-container">

<form method="POST">

<label>Paciente:</label>
<select name="id_paciente" required>
    {% for p in pacientes %}
        <option value="{{ p.id }}">{{ p.nombre }}</option>
    {% endfor %}
</select>

<label>Fecha:</label>
<input type="date" name="fecha" required>

<label>Motivo:</label>
<textarea name="motivo" required></textarea>

<button type="submit">Guardar Cita</button>

</form>

</div>

{% endblock %}