<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Turnos - Clínica SaludVital</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #eaf4ff;
            text-align: center;
            margin-top: 100px;
        }
        .contenedor{
            background:white;
            width: 500px;
            margin:auto;
            padding:30px;
            border-radius:10px;
            box-shadow:0px 0px 10px rgba(0,0,0,0.2);
        }
        h1{
            color:#0b5ed7;
        }
    </style>
</head>
<body>

<div class="contenedor">
    <h1>Clínica SaludVital</h1>
    <h2>Sistema de Gestión de Turnos</h2>
    <p>Bienvenido al sistema web para solicitud y consulta de citas médicas.</p>
</div>

</body>
</html>
