{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center;">Lista de Pacientes</h2>

<table>

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Teléfono</th>
<th>Motivo</th>
<th>Acciones</th>
</tr>

{% for p in pacientes %}
<tr>

<td>{{ p.id }}</td>
<td>{{ p.nombre }}</td>
<td>{{ p.telefono }}</td>
<td>{{ p.motivo }}</td>

<td class="acciones">

<a href="/editar/{{p.id}}" class="btn-editar">Editar</a>

<a href="/eliminar/{{p.id}}" class="btn-eliminar">Eliminar</a>

</td>

</tr>
{% endfor %}

</table>

{% endblock %}