{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center;">🏥 Sistema de Clínica</h2>

<div style="display:flex; justify-content:center; flex-wrap:wrap; gap:20px; margin-top:30px;">

    <div style="background:white; padding:20px; border-radius:10px; box-shadow:0px 0px 10px rgba(0,0,0,0.1); width:200px; text-align:center;">
        <h3> Pacientes</h3>
        <a href="/agregar" class="btn-panel">Agregar</a>
    </div>

    <div style="background:white; padding:20px; border-radius:10px; box-shadow:0px 0px 10px rgba(0,0,0,0.1); width:200px; text-align:center;">
        <h3> Lista</h3>
        <a href="/pacientes" class="btn-panel">Ver</a>
    </div>

    <div style="background:white; padding:20px; border-radius:10px; box-shadow:0px 0px 10px rgba(0,0,0,0.1); width:200px; text-align:center;">
        <h3> Citas</h3>
        <a href="/cita" class="btn-panel">Solicitar</a>
    </div>

    <div style="background:white; padding:20px; border-radius:10px; box-shadow:0px 0px 10px rgba(0,0,0,0.1); width:200px; text-align:center;">
        <h3> Datos</h3>
        <a href="/datos" class="btn-panel">Ver</a>
    </div>

    <div style="background:white; padding:20px; border-radius:10px; box-shadow:0px 0px 10px rgba(0,0,0,0.1); width:200px; text-align:center;">
        <h3> Reporte</h3>
        <a href="/reporte" class="btn-panel">Descargar PDF</a>
    </div>

</div>

{% endblock %}